<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en-GB">
<head>
    <meta charset="UTF-8">
    <title>Edit prosthesis</title>
    <div th:replace="~{fragments/global-bootstrap :: bootstrap}">Bootstrap</div>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12" >
            <div th:replace="~{fragments/header :: header}">Header</div>
        </div>
    </div>
</div>
<h1>Edit lab tab</h1>
<!--ID -->

<form action="#" th:action="@{/processLabWork}" th:object="${prosthesis}" method="post">

    <div class="form-group">
        <input type="hidden" class="form=control" th:field="*{id}">
    </div>
    <!--Laboratory -->

    <div class="form-group">
        <label for="laboratory">Laboratory</label>
        <select id="laboratory" class="form-control" th:field="*{laboratory.id}">
            <option th:each="laboratory : ${laboratories}"
                    th:value="${laboratory.id}"
                    th:text="${laboratory.name}">
            </option>
        </select>
    </div>
    <!--Dentist -->

    <div class="form-group">
        <label for="clinician">Clinician</label>
        <select id="clinician" class="form-control" th:field="*{clinician.id}">
            <option th:each="clinician : ${clinician}"
                    th:value="${clinician.id}"
                    th:text="${clinician.firstName}">
            </option>
        </select>
    </div>

    <!--Patient -->

    <div class="form-group">
        <label for="patient">Patient</label>
        <select id="patient" class="form-control" th:field="*{patient.id}">
            <option th:each="patient : ${patient}"
                    th:value="${patient.id}"
                    th:text="${patient.firstName}">
            </option>
        </select>
    </div>

    <!--Date -->
    <div class="form-group">
        <label for="date">Date due</label>
        <input id="date" type="date" class="form-control"  th:field="*{dateDue}">
    </div>

    <!--Status -->
    <div class="form-group">
        <label for="status">Status</label>
        <select id="status" name="status" class="form-control">
            <option th:each="status : ${T(com.mccreadie.springlabworklocator.model.Prosthesis.Pros_type).values()}"
                    th:value="${status}"
                    th:text="${status}"
            th:selected="${status==prosthesis.getStatus()}"></option>
        </select>
    </div>

    <!--Notes -->

    <div class="form-group">
        <Label for="notes">Additional notes</Label>
        <input id="notes" type="text" class="form-control" th:field="*{notes}" >
    </div>


    <div class="form-row">
        <div class="col">
            <input class="btn btn-success" type="submit" value="Submit">
        </div>
        <div class="col">
            <a th:href="@{/}" class="btn btn-warning float-right">Back</a>
        </div>
    </div>
</form>

</body>
</html>