<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a new patient</title>
    <div th:replace="~{fragments/global-bootstrap :: bootstrap}">Bootstrap</div>
    <div th:replace="~{fragments/header :: header}">Header</div>
</head>
<body>
<h1>Add a new patient</h1>
<form action="#" th:action="@{/processNewPatientFromNewProsthesis}" th:object="${patient}" method="post">

    <!-- ----------------------- Hidden ID------------------------------------>
    <div class="form-group">
        <input type="hidden" class="form=control" th:field="*{id}">
    </div>

    <!-- ----------------------- NAME ------------------------------------>

    <div class="form-group">
        <Label>First Name</Label>
        <input type="text" class="form-control" th:field="*{firstName}" >
    </div>
    <div class="form-group">
        <Label>Last Name</Label>
        <input type="text" class="form-control" th:field="*{lastName}" >
    </div>
    <!-- ----------------------- DATE OF BIRTH------------------------------------>
    <div class="form-group">
        <label>Date of birth</label>
        <input type="date" class="form-control"  th:field="*{dateOfBirth}">
    </div>

    <!-- ----------------------- DENTIST ------------------------------------>
    <div class="form-group">
        <input type="hidden" class="form=control" th:field="*{id}">
    </div>
    <div class="form-group">
        <label>Clinician</label>
        <select class="form-control" th:field="*{clinician.id}">
            <option th:each="clinician : ${clinicians}"
                    th:value="${clinician.id}"
                    th:text="${clinician.firstName}">
            </option>
        </select>
    </div>

    <!-- ----------------------- SUBMIT ------------------------------------>
    <div>
        <input class="btn btn-success" type="submit" value="Add patient">
    </div>
</form>

</body>
</html>