<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient profile</title>
    <div th:replace="~{fragments/global-bootstrap :: bootstrap}">Bootstrap</div>
    <div th:replace="~{fragments/header :: header}">Header</div>
</head>
<body>
<h1>Patient profile</h1>
<form action="#" th:action="@{/processNewPatient}" th:object="${patient}" method="post">

    <div class="form-group">
        <input type="hidden" class="form=control" th:field="*{id}">
    </div>



    <div class="form-group">
        <Label>First Name</Label>
        <input type="text" class="form-control" th:field="*{firstName}"  th:readonly="true" >
    </div>
    <div class="form-group">
        <Label>Last Name</Label>
        <input type="text" class="form-control" th:field="*{lastName}"  th:readonly="true">
    </div>
    <!-- ----------------------- DATE ------------------------------------>
    <div class="form-group">
        <label>Date of birth</label>
        <input type="date" class="form-control"  th:field="*{dateOfBirth}" th:readonly="true">
    </div>


    <!-- ----------------------- Clinician ------------------------------------>
    <div class="form-group">
        <label>Treating clinician</label>

        <input type="text" class="form-control"  th:field="*{clinician.fullName}" th:readonly="true">

    </div>
</form>

<p>
    <a th:href="@{/editPatientDetails/} + ${patient.id}" class="btn btn-warning" >Edit patient details</a>
    <a th:href="@{/viewPatientsLabWork/} + ${patient.id}" class="btn btn-warning" >View patient prosthetics</a>

</p>

</body>
</html>