<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header"
     xmlns:sec="http://www.w3.org/1999/xhtml">
    <! --THYMELEAF -->
    <html xmlns="http://www.w3.org/1999/xhtml"
          xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="http://www.thymeleaf.org/extras/spring-security"></html>

    <div class="container-fluid">
        <a class="navbar-brand" href="#">Prosthetics Locator</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Labwork
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="nav-link" th:href="@{/selectPatient}">Add lab work </a></li>
                        <li><a class="nav-link" th:href="@{/viewAllLabWork}">View lab work </a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Patients
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="nav-link" th:href="@{/viewPatients}">View Patients </a></li>
                        <li><a class="nav-link" th:href="@{/addPatient}">Add patient </a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Practice
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="nav-link" th:href="@{/showClinicians}">View Clinicians </a></li>
                        <li><a class="nav-link" th:href="@{/showAllLaboratories}">View Labs </a></li>
                    </ul>

                </li>
                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Register user
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <li><a class="nav-link" th:href="@{/addClinician}">Add clinician </a></li>
                        <li><a class="nav-link" th:href="@{/addReceptionist}">Add receptionist </a></li>
                        <li><a class="nav-link" th:href="@{/addAdministrator}">Add administrator </a></li>
                    </ul>

                </li>
                <li class="nav-item">
<!--                    <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>-->
                    <a class="nav-link active" aria-current="page" sec:authorize="isAnonymous()" th:href="@{/login}"> Login </a>
                    <a class="nav-link active" aria-current="page" sec:authorize="!isAnonymous()" th:href="@{/logout}"> Logout </a>
                </li>
                <div class="nav-link active"  sec:authorize="!isAnonymous()">
                    <label>User: </label>
                    <label sec:authentication="name" ></label>
                </div>

            </ul>
            <form class="d-flex" th:action="@{/search}" method="get">
                <input class="form-control me-2" type="text" name="keyword" th:value="${keyword}" placeholder="Search for a patient..." aria-label="Search" >
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

