<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en-GB">
<head>
    <div th:replace="~{fragments/global-bootstrap :: bootstrap}">Bootstrap</div>

    <meta charset="UTF-8">
    <title>Edit laboratory</title>
</head>
<body class="container">

    <div class="row">
        <div class="col-12" >
            <div th:replace="~{fragments/header :: header}">Header</div>
        </div>
    </div>


<div>
    <h1>Edit laboratory</h1>

    <form action="#" th:action="@{/processNewLaboratory}" th:object="${laboratory}" method="post">


        <!--ID-->

        <div class="form-group">
            <input type="hidden" class="form=control" th:field="*{id}">
        </div>


        <div class="form-group">
            <Label for="labName">Laboratory name</Label>
            <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            <input id="labName" type="text" class="form-control" th:field="*{name}" >
        </div>
        <div class="form-group">
            <Label for="address">Address</Label>
            <div style="color: red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
            <input id="address" type="text" class="form-control" th:field="*{address}" >
        </div>
        <div class="form-group">
            <Label for="phoneNumber">Phone number</Label>
            <div style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
            <input id="phoneNumber" type="text" class="form-control" th:field="*{phoneNumber}" >
        </div>

        <div>
            <input class="btn btn-success" type="submit" value="Submit">
        </div>
    </form>
</div>





</body>
</html>