<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{fragments/global-bootstrap :: bootstrap}">Bootstrap</div>
    <div th:replace="~{fragments/header :: header}">Header</div>
    <title>Laboratory services</title>
</head>
<body>

<div class="container" >

    <div class="row">
        <h1>Laboratory Services</h1>
    </div>

    <div class="row">
        <table class="table table-hover" th:if="${!laboratoryProducts.empty}">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Turnaround period (days)</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="service : ${laboratoryProducts}">
                <td th:text="${service.name}"></td>
                <td th:text="${service.turnaroundPeriod}"></td>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row" th:if="${laboratoryProducts.empty}">
        <h3>Nothing to show</h3></div>
    <div class="row">


        <p>
            <a th:href="@{/}" class="btn btn-warning" >Back</a>
            <a th:href="@{/addLabService/} + ${laboratory.id}" class="btn btn-warning" >Add a service</a>



        </p>

    </div>
</div>
</body>
</html>