<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments/global-bootstrap :: bootstrap}">Bootstrap</div>
    <div th:replace="~{fragments/header :: header}">Header</div>
    <meta charset="UTF-8">
    <title>Add a laboratory</title>
</head>
<body class="container">

    <div>
        <h1>Add a new laboratory</h1>

        <form action="#" th:action="@{/processNewLaboratory}" th:object="${laboratory}" method="post">



            <div class="form-group">
                <Label>Laboratory name</Label>
                <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                <input type="text" class="form-control" th:field="*{name}" >
            </div>
            <div class="form-group">
                <Label>Address</Label>
                <div style="color: red" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
                <input type="text" class="form-control" th:field="*{address}" >
            </div>
            <div class="form-group">
                <Label>Phone number</Label>
                <div style="color: red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></div>
                <input type="text" class="form-control" th:field="*{phoneNumber}" >
            </div>

            <div>
                <input class="btn btn-success" type="submit" value="Submit">
            </div>
        </form>
    </div>





</body>
</html>